.modal-close-icon{
  position: absolute;
  right: 10px;
  top: 20px;
}
.member-container{
  margin-bottom: 20px;
}
.userlist-container{
  height: 320px;
  overflow: scroll;
  background: white;
    padding: 5px;
}
.userlist-item{
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  margin-top: 10px;
  border: 1px solid #e7e7e7;
  border-radius: 20px;
}
.userlist-item:hover{
  background-color: #e7e7e7;
}
.userlist-name{
  padding: 10px;
}
.member-heading{
  margin-bottom: 10px;
}
::-webkit-scrollbar {
  width: 10px;
}
.userlist-left-section{
  display: flex;
}